.header {
    position: sticky;
    top:0; left:0; right:0;
    box-shadow: var(--box-shadow);
    padding:1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:var(--white);
  }
  .logo{
    @include titleText(2.5rem);

    span{
       color:var(--yellow);
    }
 }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover {
    color: #666;
  }
  
  /* Stili per la modalità mobile */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #f8f8f8;
      padding: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  
    .menu.active {
      display: flex;
    }
  
    .menu-btn {
      display: block;
    }
  
    .menu-btn::after {
      content: '\f0c9';
      font-family: 'FontAwesome';
      font-size: 20px;
      color: #333;
      transition: transform 0.3s ease;
    }
  
    .menu.active .menu-btn::after {
      transform: rotate(180deg);
    }
  }
  